<!DOCTYPE html>
<html>
  <head>
    <title>AppShoplify</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="http://js.stripe.com/v3/"></script>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<br>
<br>
  <body>
   <li><%= link_to 'Products',   products_path   %></li>
   <hr>
    <%= yield %>
    
   
  </body>
</html>
